<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>Angular TypeScript</title>
    <meta charset="utf-8" />

    <script src="Scripts/angular.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller="MainController">
    <h1>Angular TypeScript</h1>

    <ul>
        <li ng-repeat="contact in contacts">
            {{contact.name}} ({{contact.email}})
            <button ng-click="vm.delete(contact.id)">dilit</button>
        </li>

        <li ng-if="loading">loading...</li>
    </ul>

    <input type="text" ng-model="newContact.name" />
    <input type="email" ng-model="newContact.email" />
    <button ng-click="vm.create()">test create</button>

</body>
</html>